@{
    ViewData["Title"] = "Página Inicial";
}

<main>
    <section class="hero">
        <h1>Erika Santana</h1>
        <p class="subtitulo">Especialista em manicure e nail design</p>
        <p class="descricao">Atendimento personalizado, esmaltação impecável e unhas que valorizam sua beleza.</p>
            
        <a asp-controller="Conta" asp-action="Cadastro" class="btn btn-rosa">Agende seu horário</a>
    </section>

        
    <section class="servicos">
        <h2>Serviços oferecidos</h2>
        <p>Confira alguns dos nossos serviços</p>

        <div class="row">
            <div class="col-md-6">
                <div class="card-servico">
                    <h3>Manicure Completa</h3>
                    <p>Cuidados com cutículas, lixamento, esmaltação e acabamento profissional para unhas bonitas e bem cuidadas.</p>
                    <span>R$45,00 • 45 min</span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-servico">
                    <h3>Pedicure Completa</h3>
                    <p>Cuidados com cutículas, lixamento, hidratação e esmaltação para pés bonitos, saudáveis e bem cuidados.</p>
                    <span>R$50,00 • 60 min</span>
                </div>
            </div>
        </div>
    </section>

    <section class="localizacao">
        <h2>Localização</h2>

        <h3>Endereço</h3>
        <p>Rua das Flores, 123 - Jardim Primavera<br />São Paulo - SP<br />CEP: 01234-567</p>
            
        <h3>Horário de Atendimento</h3>
        <p>Segunda a Sexta: 9h às 19h <br /> Sábado: 9h às 17h <br /> Domingo: Fechado</p>
    </section>
</main>